@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900')


// Variables
$rubik: 'Rubik', sans-serif


// Colors
$white: #ffffff   
$black: #111111

$orange: #D67A13  
$light-blue: #BEECFF
$blue: #00A8F2
$white-blue: #E6F4F1

$yellow: #FFD15E 
$bright-blue: #0062cc

$green-bright: #63FC97



// Main content
.main
  margin-left: 0px
  transition: margin-left .5s ease-in
  height: 100%
  position: relative
  font-family: $rubik
  overflow: hidden

.add-left-margin
  margin-left: 150px

.overflow-auto
  overflow-y: auto
  overflow-x: hidden

.front
  z-index: 99 !important
.back
  z-index: -1 !important

@import "navigation"
@import "landing"
@import "about"
@import "projects"
